/*
1111
MENU
1 - FONTES E UTILITARIOS
2 - CONFIGURAÇÕES ELEMENTOS HTML GERAIS
3- CONFIGURAÇÃO CLASSES ESPECIFICAS
4 - CONFIGURAÇÕES DE CONTEXTO
  4.1 - HEADER
  4.2 - MAIN
  4.3 - FOOTER
5 - CONFIGURAÇÕES IMAGENS HEADER
*/

/* 1 - FONTES E UTILITARIOS*/

:root {
  --highlights: #00abc0;
  --titles: #231f20;
  --black:#231f20;
  --links:#00abc0;;
--nav:#1e7147;
}


@font-face {
  font-family: "Regular";
  src: url("../fonts/playfaIr/PlayfairDisplay-Regular.eot") format("woff2");
  src: url("../fonts/playfaIr/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/playfaIr/PlayfairDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Black";
  src: url("../fonts/playfaIr/PlayfairDisplay-SemiBold.ttf") format("truetype");
}

body {
  background: url(../assets/back-min.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-size: 100% 100%; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  margin-top: 300px;
  /* border: 2px solid black; */
}


@media only screen and (max-width:900px) {
  body {
    background-image: url(../assets/back_mobile-min.png);
  };

  main {
    margin-top: 0px;
  }
}

@media only screen and (min-width:901px) and (max-width:1500px) {
  body {
    background-image: url(../assets/back_tablets-min.png);
  };

  main {
    margin-top: 0px;
  }
}



/* @media only screen and (-webkit-min-device-pixel-ratio: 3) {
  body {
    background-image: url(../assets/back_mobile.png);
  }

   main {
    margin-top: 100px;
  } 

  .welcome-text {
    padding-top: 20px;
    font-size: 1.5em;
  } 

}*/

.committees-subtitles {
  font-family: Medium;
  color: var(--black);
}

li .Medium {
  font-family: Medium;
}

a,
a.links {
  font-family: Black;
  color: var(--links)
}


.Medium {
  font-family: Medium;
  color: white;
}

.Black {
  font-family: Black;
  color: var(--black);
  font-size: 14pt;
}

.info {
  font-family: Medium;
  font-size: 10pt;
}

/* 2 - CONFIGURAÇÕES ELEMENTOS HTML GERAIS */

html {
  font-size: 1rem;
  font-family: Regular;
}

p {
  margin-top: 0;
}

td {
  padding: 5px;
}

/* 3 - CONFIGURAÇÃO CLASSES ESPECIFICAS */

.font4em {
  font-size: 4em;
}

.white-text {
  color: white;
}

.title {
  font-family: Black;
  color: var(--titles)
}



h2 .title {
  color:var(--titles)
}

.circle {
  list-style-type: disc;
}

.red-underline {
  border-bottom: 2px solid #231f20;
}

.white {
  color: #fff;
}

.darkblue-underline {
  border-bottom: 2px solid #231f20;
}

.subtitles-blue {
  color:var(--black);
  font-weight: 400px;
}

.azure {
  background-color: azure;
}

.redline {
  border: 2px solid red;
}

.blueline {
  border: 2px solid turquoise;
}

.greenline {
  border: 2px solid greenyellow;
}

/* 4 - CONFIGURAÇÕES DE CONTEXTO */

/* 4.1 - HEADER */

nav {
  background-color: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: none;
}

nav ul a {
  font-weight: bolder;
  font-family: Medium;
  /* font-family: Roboto-Bold; */
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  /* background-color: rgb(255, 255, 255, 0.6) */
  background-color: var(--nav);
}

nav ul a .mobile {
  font-weight: bolder;
  font-family: Medium;
  /* font-family: Roboto-Bold; */
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--nav);
  /* background-color: rgb(255, 255, 255, 0.6) */
  background-color: white;
}
.side-nav a {
  color: white;
  background: var(--highlights);
}
.highlightAreas {
  /* background-color: #231f20; */
  padding: 20px;
  margin-top: 20px;
  background: var(--highlights);
  color: white;
}

nav ul:hover {
  background-color: var(--highlights);
  color: white;
}

.burger-menu {
  color: white;
}

nav .button-collapse i.material-icons {
  margin-right: 20px;
  font-size: 5rem;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.main-center {
  
  width: 85%;
  margin: 0 auto;
}

/* Media Queries*/

@media screen and (min-width: 965px) and (max-width: 1373px) {
  nav,
  nav .nav-wrapper i,
  nav a.button-collapse,
  nav a.button-collapse i {
    height: 64px;
    line-height: 64px;
  }
}

/* @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  /* styles for Retina-type displays */
} */

/* //////////////////////////////////////////// */
.ieeelogo {
  width: 200px;
}

.welcome-text {
  /* border:1px solid red; */
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: normal;
  font-size: 2em;
  margin: o auto;
  text-align: center;
}

.nav-fixed {
  position: fixed;
  right: 20%;
}

/* 4.2 - MAIN */

.readable-background {
  /* font-family: Black; */
  background-color: rgba(255, 255, 255, 1);
  color: var(--black);
}

.important-dates {
  font-family: Medium;
  color: white;
}

.last-important-date {
  padding-bottom: 20px;
}

.previous-events li a {
  font-family: Regular;
  color: var(--black);
}

.previous-events li a:hover {
  border-bottom: 1px solid var(--highlights);
}

.payment-notes {
  margin-top: 10px;
}

.espaco-pagamento-subtitles {
  margin-left: 20px;
}

.dias {
  background-color: #231f20;
  font-size: 16pt;
  color: #ffffff;
  text-align: center;
}

.horas {
  font-weight: 800;
}

.bebas {
  font-family: Bebas;
}

.sessao {
  background-color: #031620;
  color: white;
}

.keynote-text {
  padding-left: 15%;
  padding-right: 15%;
}

/* 4.3 - FOOTER */

footer.page-footer {
  /* border-top: 1px solid #eeeeee; */
  background-color: #231f20;
  font-size: 9pt;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 100px;
  line-height: 50px;
  color: white;
  background-color: #231f20;
}

.next_button {
  background-color: #231f20;
}

.next_button:hover {
  background-color:var(--highlights)
}

h5.footer-text {
  color: white;
  font-family: Medium;
}

p.footer-text {
  color: white;
  font-family: Medium;
}

a.footer-text {
  color: white;
  font-family: Medium;
}

a.footer-text:hover {
  background-color: var(--highlights);
  color: white;
}

address {
  font-style: normal;
}

.circle-ul {
  list-style-type: circle;
  color: black;
  margin-left: 50px;
  /* font-weight: 900 */
}

.circle-copyright {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.a-ol {
  list-style: lower-alpha;
  color: black;
  /* margin-left: 20px; */
  /* font-weight: 900 */
}

.just-a-tab {
  margin-left: 20px;
}

.square-plus-tab {
  list-style: square;
  margin-left: 100px;
}

.square {
  list-style: square;
  margin-left: 50px;
}

.negrito {
  /* font-weight: 900; */
  font-family: Black;
}

/* table,
th,
td {
  border-bottom: 1 solid black;
} */

.tableTitle {
  color: #231f20;
  font-size: 24pt !important;
  text-align: center;
}

.tableBackground {
  background-color: #231f20;
  color: white;
  font-size: 16pt;
}

.bold-negrito {
  font-family: Medium;
  /* font-weight: 900; */
}

.links {
  font-family: Medium;
  color:var(--titles);
}

/* a:hover {
   border-bottom: 1px solid #fdda00; 
} */

.pcmembers {
  font-family: Medium;
  color:var(--titles);
}

.navVenue {
  width: 200px;
  background-color: #231f20;
  color: white;
}

.navVenue a {
  color: white;
}

/* select {
  display:inherit;
} */

.select_eCF {
  display: inherit;
}

h2.registration_platform {
  color: white;
}

.keynote-title {
  width: 50%;
  font-size: 18pt;
  margin: auto;
  color: var(--highlights);
}

.keynote-subtitle {
  padding-top: 5px;
  width: 50%;
  margin: auto;
}

.border1:th,
.border1:td {
  border: 1px solid #e7e8ee;
}

.tableFontSize td {
  /* border: 1px solid red;  */
  font-size: 8pt;
}

.session,
.posterSession {
  background-color: #f9c80e;
  color: F9C80E;
  border: 1px solid #f9c80e;
}

.sessiontitle {
  font: weight 600px;
}

.horasProgram {
  font-size: 7pt;
}

.lectures {
  background-color: #ed254e;
  color: white;
  font-weight: 200;
  border: 1px solid #ed254e;
}

.demo {
  background-color: #662e9b;
  border: 1px solid #662e9b;
  color: #eeeeee;
}

.daysProgram {
  background-color: rgb(0, 110, 120);
  border: 1px solid rgb(0, 110, 120);
  color: #eeeeee;
}
.industry {
  background-color: #87c38f;
  border: 1px solid #87c38f;
}

.days {
  padding: 20px;
  font-size: 24pt !important;
}

.timezone {
  padding-top: 30px;
  color: #cb1e1e;
  text-align: center;
}

i.small {
  /* color: #fdda00; */
  color: #bc6129;
}

.previous-events li a.labelProceedings {
  color: #6e5669;
}

.highlight {
  font-family: Medium;
  font-weight: 500;
  color: #bc6129;
}

.line-through {
  color: #031620;
  text-decoration: line-through;
}

.animsition {
  margin-top: 50px;
}

.carousel .carousel-item img {
  width: 200%;
}

.videoIframe {
  text-align: center;
}

.btn_callToAction{
  background-color: #00abc0;
}
.btn_callToAction:hover{
  background-color: #1e7147;
}


input[type=text]:focus, input[type=email]:focus, input[type=number]:focus{
  border-bottom: 1px solid #1e7147 !important;
  box-shadow: 0 1px 0 0 #1e7147 !important;
 }




[type="radio"].with-gap:checked+label:after {
  background-color: #1e7147 !important;
}

[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
  border: 2px solid #1e7147 !important;
}

.hide{
  display:none
}

.sponsor-logo{
  padding: 5px;
}